<div class="container">
    <div class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <a ui-sref="search"><b>New Search</b></a> |
        <a href="javascript:history.back()"><b> Back</b></a>
    </div>
    <br/>
</div>
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand subheader" style="color: #000066">{{jobDetails.JobTitle[0]}}</span></b></span>
            </div>
            <div class="nav navbar-brand navbar-right" style="padding-right: 50px;">
               <b><a target="_blank" href="{{jobDetails.ApplyUrl[0]}}">Apply</a></b>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="panel-wrapper" >
            <label class="control-label">Organization: </label>{{jobDetails.HospitalName[0]}}
        </div>

        <div class="panel-wrapper">
            <label class="control-label">Location: </label>{{jobDetails.City[0]}}, {{jobDetails.State[0]}}
        </div>
        <div class="panel-wrapper">
            <label class="control-label">Category: </label>{{jobDetails.JobCategory[0]}}
        </div><br/><br/>
    <div class="panel-wrapper">
        <label class="control-label">Description:</label> {{jobDetails.WholePosting[0]}}
    </div>

</div>
